body {
    background-image: url('../images/bg.png'), url('../images/bg2.png'), url('../images/bg3.png');
    background-repeat: no-repeat, no-repeat no-repeat;
    background-position: left top, right top, center bottom;
}

/************** site specific styles *********/

.turtle {
    display: grid;
    grid-template-columns: 30px 120px auto 20px 20px;
    grid-gap: 8px;
    padding: 5px;
    font-family: monospace;
}
.turtle div:nth-of-type(1) {
    color: #e08e0b;
}
.turtle div:nth-of-type(2) {
    color: #7c4dff;
}
.turtle div:nth-of-type(2) span {
    padding: 0 5px;
    color: #dd4b39;
}
.turtle div:nth-of-type(3) {
    overflow: auto;
}
.turtle:nth-of-type(even) {
    background: rgba(0, 0, 0, .2);
}
#logo {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
#logo div {
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    margin-left: -45px;
    margin-top: -45px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
}
.logo {
    width: 100px;
    height: auto;
    display: block;
    margin: 20px auto;
}
.grid-mailbox {
    display: grid;
    grid-template-columns: auto auto 100px 300px 30px auto;
    grid-gap: 10px;
    padding: 10px;
}
.grid-mailbox div:nth-of-type(1),
.grid-mailbox div:nth-of-type(2) {
    text-align: center;
}
.grid-mailbox:nth-of-type(even) {
    background: rgba(0, 0, 0, .2);
}
.fa-star {
    text-shadow: 0 0 15px #e08e0b;
}
.row-trusted-apps {
    display: grid;
    grid-template-columns: auto 300px 70px;
    padding: 10px;
    grid-gap: 8px;
    cursor: pointer;
}
.row-trusted-apps:nth-of-type(even) {
    background: rgba(0, 0, 0, .2);
}
.access-modes {
    display: grid;
    grid-auto-flow: column;
}
.access-modes div {
    padding-right: 5px
}
.actions {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto;
}
.actions button {
    width: 100%;
}
.row-trusted-apps select,
.row-trusted-apps input {
    background: transparent;
    color: #c1c1c1;
    border: none;
    font-family: 'OpenSans-Regular', Sans-Serif;
}
.friend-photo {
    width: 100%;
    max-width: 120px;
    height: auto;
    margin: 20px auto;
    border-radius: 50%;
    border: 3px solid rgb(124, 77, 255, 0.5);
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    box-shadow: 0 0 15px rgb(124, 77, 255, 0.5);
}
.friend-photo:hover {
    box-shadow: 0 0 15px rgb(124, 77, 255, 1);
    border: 3px solid #7c4dff;
}

/**** would be better to merge these styles together ***/

.friends-photos {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto;
}
.friends-photos img {
    margin: 10px auto;
    width: 30px;
    height: 30px;
    display: block;
    box-shadow: 0 0 25px rgb(124, 77, 255, 0.5);
    border: 2px solid #7c4dff;
    border-radius: 50%;
    /*filter: grayscale(100%);*/
}
.photos img {
    margin: 10px auto 20px auto;
    width: 100px;
    height: 100px;
    display: block;
    box-shadow: 0 0 25px rgb(124, 77, 255, 0.5);
    border: 2px solid #7c4dff;
    border-radius: 50%;
    /*filter: grayscale(100%);*/
}
.profile-photo {
    height: 120px;
    width: 120px;
    display: block;
    margin: 0px auto;
    border-radius: 50%;
    box-shadow: 0 0 25px rgb(124, 77, 255, 0.5);
    border: 3px solid #7c4dff;
}
.photo-manager {
    display: grid;
    grid-auto-flow: column;
    margin-top: 20px;
    grid-gap: 8px;
    text-align: center;
    cursor: pointer;
    color: #dd4b39;
    font-size: 18px;
}
.photo-manager .fa {
    text-shadow: 0 0 15px rgb(221, 75, 57, 0.5);
}

/**** media queries ****/

@media only screen and (max-width: 900px) {
    .row-trusted-apps {
        display: block;
        text-align: center;
    }
    .row-header {
        display: none;
    }
    .row-trusted-apps div {
        margin-bottom: 10px;
    }
    .grid-mailbox {
        grid-template-columns: 30% 70%;
        text-align: left;
    }
    .grid-mailbox div:nth-of-type(1),
    .grid-mailbox div:nth-of-type(2) {
        text-align: left; 
    }
}
