<section class="inner-shadow">
    <div class="form-grid">
        <div>
            <input class="form-control" placeholder="Name" />
        </div>
        <div>
            <button class="btn btn-dark"><i class="fa fa-save"></i></button>
        </div>
    </div>
</section>
<section>
    <img class="profile-photo" src="images/user7-128x128.jpg" />
    <div class="photo-manager">
        <div><i class="fa fa-camera"></i></div>
        <div><i class="fa fa-upload"></i></div>
        <div><i class="fa fa-trash"></i></div>
    </div>
</section>
<section class="inner-shadow">
    <div class="form-grid">
        <div>
            <input class="form-control" placeholder="Role" />
        </div>
        <div>
            <button class="btn btn-dark"><i class="fa fa-save"></i></button>
        </div>
    </div>
</section>

<details>
    <summary>
        <div>Basic Info</div>
        <div></div>
        <div><i class="fa fa-plus"></i></div>
    </summary>
    <section>
        <div class="form-grid">
            <div>
                <input class="form-control" placeholder="Organization" />
            </div>
            <div>
                <button class="btn btn-dark"><i class="fa fa-save"></i></button>
            </div>
        </div>
    </section>
</details>

<details>
    <summary>
        <div>Address</div>
        <div></div>
        <div><i class="fa fa-plus"></i></div>
    </summary>
    <section>
        <div class="form-grid">
            <div>
                <input class="form-control" placeholder="Street address" />
            </div>
            <div>
                <button class="btn btn-dark"><i class="fa fa-save"></i></button>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="form-grid">
            <div>
                <input class="form-control" placeholder="Locality" />
            </div>
            <div>
                <button class="btn btn-dark"><i class="fa fa-save"></i></button>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="form-grid">
            <div>
                <input class="form-control" placeholder="Postal Code" />
            </div>
            <div>
                <button class="btn btn-dark"><i class="fa fa-save"></i></button>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="form-grid">
            <div>
                <input class="form-control" placeholder="Region" />
            </div>
            <div>
                <button class="btn btn-dark"><i class="fa fa-save"></i></button>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="form-grid">
            <div>
                <input class="form-control" placeholder="Country" />
            </div>
            <div>
                <button class="btn btn-dark"><i class="fa fa-save"></i></button>
            </div>
        </div>
        <div class="spacer"></div>
        <button class="btn btn-yellow btn-align-center"><i class="fa fa-plus"></i><span>ADD MORE</span></button>
    </section>
</details>

<details>
    <summary>
        <div>Email &amp; Phone</div>
        <div></div>
        <div><i class="fa fa-plus"></i></div>
    </summary>
    <section>
        <select class="form-control">
            <option>Home</option>
            <option>Dom</option>
            <option>ISDN</option>
            <option>Internet</option>
            <option>Intl</option>
            <option>Label</option>
            <option>Parcel</option>
            <option>Postal</option>
            <option>Pref</option>
            <option>Work</option>
            <option>X400</option>
        </select>
        <div class="spacer"></div>
        <div class="form-grid">
            <div>
                <input class="form-control" placeholder="Email address" />
            </div>
            <div>
                <button class="btn btn-dark"><i class="fa fa-save"></i></button>
            </div>
        </div>
        <div class="spacer"></div>
        <button class="btn btn-yellow btn-align-center"><i class="fa fa-plus"></i><span>ADD MORE</span></button>
        <div class="spacer"></div>
        <select class="form-control">
            <option>Home</option>
            <option>Dom</option>
            <option>ISDN</option>
            <option>Internet</option>
            <option>Intl</option>
            <option>Label</option>
            <option>Parcel</option>
            <option>Postal</option>
            <option>Pref</option>
            <option>Work</option>
            <option>X400</option>
        </select>
        <div class="spacer"></div>
        <div class="form-grid">
            <div>
                <input class="form-control" placeholder="Phone number" />
            </div>
            <div>
                <button class="btn btn-dark"><i class="fa fa-save"></i></button>
            </div>
        </div>
        <div class="spacer"></div>
        <button class="btn btn-yellow btn-align-center"><i class="fa fa-plus"></i><span>ADD MORE</span></button>
    </section>
</details>
