<section class="inner-shadow">
    <h2 id="name">Glen Simister</h2>
</section>
<section>
    <img class="profile-photo" src="images/user7-128x128.jpg" />
</section>
<section class="inner-shadow">
    <h4 id="role">A Jack Of All Trades</h4>
</section>

<section>
    <button class="btn btn-green btn-align-center">ADD FRIEND</button>
</section>

<details>
    <summary>
        <div>Basic Info</div>
        <div></div>
        <div><i class="fa fa-plus"></i></div>
    </summary>
    <section>
        <table>
            <tr>
                <td>Profile Type:</td>
                <td id="profile-type">Not Specified</td>
            </tr>
            <tr>
                <td>Age:</td>
                <td id="age">Not Specified</td>
            </tr>
            <tr>
                <td>Organization:</td>
                <td id="organization">Not Specified</td>
            </tr>
        </table>
    </section>
</details>

<details>
    <summary>
        <div>Address</div>
        <div></div>
        <div><i class="fa fa-plus"></i></div>
    </summary>
    <section>
        <table>
            <tr>
                <td>Region:</td>
                <td id="region">Not Specified</td>
            </tr>
            <tr>
                <td>Country:</td>
                <td id="country">Not Specified</td>
            </tr>
        </table>
    </section>
</details>

<details>
    <summary>
        <div>Email &amp; Phone</div>
        <div></div>
        <div><i class="fa fa-plus"></i></div>
    </summary>
    <section>
        <table>
            <tr>
                <td>Phone:</td>
                <td id="phone">Not Specified</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td id="email">Not Specified</td>
            </tr>
        </table>
    </section>
</details>
